<div class="content">
    <!-- Breadcrumb area start -->
    <div class="breadcrumb-area shopno-standard-row pattern-bg-title">
        <div class="containerContact">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumb-content text-left">
                        <h2 class="page-cat">For inquiries contact gabyrudyart@gmail.com</h2>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area end -->  
    <!-- Contact body start  -->
    <!-- <div class="shopno-standard-row white-bg contact-style-two">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 mb-40">
                    <div class="contact-single">
                        <h4>CEO</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere.</p>
                        <a href="mailto:#">ceo@nahartheme.com</a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 mb-40">
                    <div class="contact-single">
                        <h4>Developer</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere.</p>
                        <a href="mailto:#">deb@nahartheme.com</a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 mb-40">
                    <div class="contact-single">
                        <h4>Web Designer</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere.</p>
                        <a href="mailto:#">designer@nahartheme.com</a>
                    </div>
                </div>
            </div>                  
        </div>
    </div> -->
    <!-- Contact body End -->                          
    <!-- shopno Map -->
    <!-- <div id="shopno-map"></div> 
    <div class="container shopno-standard-row">
        <div class="col-md-12">
            <div class="area-heading text-center">
                <h4>Want to get in touch?</h4>
                <h4>Leave a message</h4>
            </div>
        </div>
    </div>
    <div class="contact-area shopno-standard-row" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 cont-info">
                    <h5 class="bottom-line">Contact Message</h5>
                    <div class="contact-form">
                    <form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                            <p class="h4 mb-4">Contact us</p> -->
                        
                            <!-- Name -->
                            <!-- <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
                            class="form-control mb-4" placeholder="Name"> -->
                        
                            <!-- Email -->
                            <!-- <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
                            class="form-control mb-4" placeholder="E-mail"> -->
                        
                            <!-- Subject -->
                            <!-- <label>Subject</label>
                            <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
                            <option value="" disabled>Choose option</option>
                            <option value="1" selected>Feedback</option>
                            <option value="2">Report a bug</option>
                            <option value="3">Feature request</option>
                            <option value="4">Feature request</option>
                            </select> -->
                        
                            <!-- Message -->
                            <!-- <div class="form-group">
                            <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
                                rows="3" placeholder="Message"></textarea>
                            </div> -->
                        
                            <!-- Copy -->
                        
                            <!-- Send button -->
                            <!-- <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
                            mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
                        
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="cont-info">
                        <h5 class="bottom-line">Contact Information</h5>
                        <nav>
                            <ul>
                                <li><i class="fa fa-map-marker"></i><span>Address :</span> Demo house,new york usa</li>
                                <li><i class="fa fa-phone"></i><span>Phone :</span> +887 123 123</li>
                                <li><i class="fa fa-fax" aria-hidden="true"></i><span>fax :</span> +997 123 123</li>
                                <li><i class="fa fa-envelope-o"></i><span>Email :</span> <a href="#"> demo@gmail.com</a></li>
                                <li><i class="fa fa-server" aria-hidden="true"></i><span>Website:</span> <a href="#"> www.demo.com</a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>                      -->
    <!-- shopno Map end -->
</div>
