<div class="content">           
    <!-- Text row start -->
    <div class="shopno-standard-row white-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-block">
                        <div class="custom-title text-center">
                            <h2>About Me</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/img/portfolio/grid/aboutMe.jpg" alt="about me">
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <p>Through varying scales and strokes, Gabriella Rudy has developed an alternative method of working with oils, rarely confining herself to a brush. Rudy’s work shows an intense yearning to understand
                                 how the struggles of the human experience affect our emotional landscape—starting with her own challenge, when, at age 18, she was involved in an Amtrak train crash.  Rudy’s large-scale paintings
                                  are charts of human experience, and although initially perceived as wide-reaching, are meant to engage the viewer in a specific emotion without controlling their stream of consciousness.
                                    Rudy lives and works in DC, and teaches art therapy classes to underprivileged children, with the hopes of providing a cathartic outlet for expression and a faithful tool for communication. </p>
                            <h3>Musings</h3>
                            <div class="lists clearfix">
                                <h4>Artists</h4>
                                <ul>
                                    <li>Richie Culver, Tim Garwood, Brett Gorvy</li>
                                    <li>Katherine Parker, Linda Touby, Janine Antoni</li>
                                    <li>Richard Diebenkorn, Pierre Soulages</li>
                                    <li>Mark Rothko, Jean-Michel Basquiat</li>
                                    <li>Arie Aroch</li>

                                </ul>
                            </div>
                            <div class="lists clearfix">
                                <h4>Books</h4>
                                <ul>
                                    <li>Despair and Lolita by Nabokov</li>
                                    <li>American Psycho by Brett Easton Ellis</li>
                                    <li>Coeur De Lion by Ariana Reines </li>
                                    <li>The Picture of Dorian Gray by Oscar Wilde</li>
                                    <li>The Power of Kindness by Piero Ferrucci</li>
                                </ul>
                            </div>
                            <div class="lists clearfix">
                                <h4>Films</h4>
                                <ul>
                                    <li>Gia</li>
                                    <li>Vicky Cristina Barcelona</li>
                                    <li>The Truman Show</li>
                                    <li>Anything by Stanley Kubrick: Eyes Wide Shut, 2001 A Space Odyssey, A Clockwork Orange</li>
                                    <li>Eternal Sunshine of the Spotless Mind</li>
                                    <li>Being John Malkovich</li>
                                    <li>Scarface</li>
                                    <li>The Disaster Artist, but only because I’m in love with James Franco!</li>
                                </ul>
                            </div>
                            <div class="lists clearfix">
                                <h4>Music</h4>
                                <ul>
                                    <li>Anything by Gwen Stefani/No Doubt, Blondie, Madonna, Marina and the Diamonds, Cher and Amy Winehouse. These women will always be my ultimate icons.</li>
                                    <li>David Bowie, Three Dog Night, The Moody Blues, The Kinks and Guns N’ Roses- who my Dad says I am named
                                         after (my initials are GNR)- because I grew up listening to them </li>
                                    <li>I LOVE Spanish guitar music: Juan Serrano, Giulia y los Tellarini, Paco de Lucía</li>
                                    <li>Anything by Stanley Kubrick: Eyes Wide Shut, 2001 A Space Odyssey, A Clockwork Orange</li>
                                    <li>Some French bops: Françoise Hardy, Angéle, Hoshi</li>
                                    <li>Nirvana and Eminem when I feel like screaming</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Text row end -->              
    <!-- Theme standard row start for blog -->
    <!-- <div class="shopno-standard-row gray-bg blog-area hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="area-heading area-heading-style-two text-center">
                        <h2 class="area-title">Latest Blog</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor.</p>
                    </div>
                </div>                                
            </div>
            <div class="row slider-owl">
                <div class="slider-blog">
                    <div class="col-md-12 col-sm-12">
                        <article class="blog-post">
                            <div class="post-thumbnail">
                                <a href="#"><img src="img/blog/1.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-content-inner">
                                    <h3><a href="#">Post with Image</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores</p>
                                    <div class="read-more-wrapper">
                                        <a href="single-post-left-sidebar.html" class="read-more">Read More</a><br><br>
                                    </div>
                                </div>
                                <div class="post-footer-meta clearfix">
                                    <div class="read-more-wrapper">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 24, 2018</a>
                                        <a href="#" class="like-count"><i class="fa fa-commenting-o" aria-hidden="true"></i><span>6 comment</span></a>
                                    </div>
                                </div>                                        
                            </div>
                        </article>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <article class="blog-post">
                            <div class="post-thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="https://player.vimeo.com/video/90312869?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"></iframe>
                                </div>                               
                            </div>
                            <div class="post-content">
                                <div class="post-content-inner">
                                   <h3 class="vimeo-paading"><a href="#">Post vimeo video.</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores</p>
                                    <div class="read-more-wrapper">
                                        <a href="single-post-left-sidebar.html" class="read-more">Read More</a><br><br>
                                    </div>
                                </div>
                                <div class="post-footer-meta clearfix">
                                    <div class="read-more-wrapper">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 24, 2018</a>
                                        <a href="#" class="like-count"><i class="fa fa-commenting-o" aria-hidden="true"></i><span>6 comment</span></a>
                                    </div>
                                </div>                                        
                            </div>
                        </article>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <article class="blog-post">
                            <div class="post-thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe  src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F29022&show_artwork=true&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                                </div>                                
                            </div>
                            <div class="post-content">
                                <div class="post-content-inner">
                                   <h3 class="vimeo-paading"><a href="#">Post with Audio.</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores</p>
                                    <div class="read-more-wrapper">
                                        <a href="single-post-right-sidebar.html" class="read-more">Read More</a><br><br>
                                    </div>
                                </div>
                                <div class="post-footer-meta clearfix">
                                    <div class="read-more-wrapper">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 24, 2018</a>
                                        <a href="#" class="like-count"><i class="fa fa-commenting-o" aria-hidden="true"></i><span>6 comment</span></a>
                                    </div>
                                </div>                                        
                            </div>
                        </article>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <article class="blog-post">
                            <div class="post-thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="https://www.youtube.com/embed/tWI_j-9x_EI?rel=0&amp;showinfo=0"></iframe>
                                </div>                                
                            </div>
                            <div class="post-content">
                                <div class="post-content-inner">
                                   <h3 class="vimeo-paading"><a href="#">Post Youtube Video.</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores</p>
                                    <div class="read-more-wrapper">
                                        <a href="single-post-left-sidebar.html" class="read-more">Read More</a><br><br>
                                    </div>
                                </div>
                                <div class="post-footer-meta clearfix">
                                    <div class="read-more-wrapper">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 24, 2018</a>
                                        <a href="#" class="like-count"><i class="fa fa-commenting-o" aria-hidden="true"></i><span>6 comment</span></a>
                                    </div>
                                </div>                                        
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>       -->
    <!-- Theme standard row end for blog -->
</div>
