<footer class="footer-area text-left dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="footer-fun-text">
                        <h3 class="footer-logo white-text"><a href="index.html">Wanna Chat?</a></h3>
                    </div>
                    <div class="social-bookmark-wrapper">
                        <ul class="social-bookmark">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                            <li><a href="#"><i class="ti-dribbble"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                        </ul>
                    </div> 
                    <div class="copy-right-info">
                        <p>All copyright &copy; reserved by <a href="https://themeforest.net/user/nahartheme" target="_blank">nahartheme</a> 2017</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
                    <aside class="instagram-widget">
                        <h4 class="widget-title white-text">FOLLOW ME @GABYRUDYART</h4>
                        <div class="instagram-image-wrapper">
                            <!-- <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/1.jpg" alt=""></a>
                            </div> -->
                            <!-- <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/2.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/3.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/4.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/5.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/6.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/1.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/2.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/3.jpg" alt=""></a>
                            </div>
                            <div class="follow-img">
                                <a href="#"><img src="assets/img/widget/instagram/4.jpg" alt=""></a>
                            </div> -->
                        </div>
                    </aside>
                </div>                        
            </div>
        </div>
    </footer>