<header id="sticky-header" class="header-area scroll-sticky">
        <div class="header-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-3  col-sm-2 col-xs-6">
                        <div class="logo">
                            <h3><a href="index.html">GABY RUDY ART</a></h3>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-10 hidden-xs hidden-sm">
                        <div class="menu-area">
                            <nav>
                                <ul class="main-menu clearfix" routerLinkActive="active">
                                    <li><a routerLink="">Home</a></li>
                                    <!-- <li><a routerLink="portfolio">Portfolio</a></li>                                             -->
                                    <li><a routerLink="about">About</a></li>
                                    <li><a routerLink="contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- START OF MOBILE MENU AREA -->
                    <!-- <div class="mobile-menu-area clearfix hidden-md hidden-lg">
                        <nav class="mobile-menu">
                            <ul>
                                <li><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home Particle</a></li>
                                        <li><a href="home-video.html">Home Video</a></li>
                                        <li><a href="#">Kenburne Slideshows</a>
                                            <ul>
                                                <li><a href="home-kenburn.html">Slideshows 1</a></li>
                                                <li><a href="home-kenburn2.html">Slideshows 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Home Slider</a>
                                            <ul>
                                                <li><a href="home-slider1.html">Owl Carousel Slider</a></li>
                                                <li><a href="home-slider2.html">Slick Slider</a></li>
                                                <li><a href="home-slider3.html">Portfolio Slider</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="home-masonry.html">Portfolio Maosnry Home</a></li>
                                        <li><a href="home-image-left.html">Image with left text</a></li>
                                        <li><a href="home-image-center.html">Image with center text</a></li>
                                        <li><a href="home-left-text.html">Home left text</a></li>
                                        <li><a href="#">Home One page</a>
                                            <ul>
                                                <li><a href="home-one-page-v1.html" target="_blank">One page Particle</a></li>
                                                <li><a href="home-one-page-v2.html" target="_blank">One page video</a></li>
                                                <li><a href="home-one-page-v3.html" target="_blank">One page slider</a></li>
                                                <li><a href="home-one-page-v4.html" target="_blank">One page kenburnsy</a></li>
                                                <li><a href="home-one-page-v5.html" target="_blank">One page Image</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="home-center-text.html">Home center text</a></li>
                                        <li><a href="home-center-div.html">Image with center div</a></li>
                                        <li><a href="home-fixed-image.html">Home fixed image</a></li>
                                        <li><a href="home-boxed.html">Home boxed</a></li>
                                        <li><a href="home-parallax.html">Home Parallax</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Portfolio</a>
                                    <ul>
                                        <li><a href="#">Masonry Gutter</a>
                                            <ul>
                                                <li><a href="portfolio-2-column-masonry-gutter.html">2 Grid Gutter</a></li>
                                                <li><a href="portfolio-2-column-masonry-gutter-full.html">2 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                                <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                                <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="#">Masonry No Gutter</a>
                                            <ul>
                                                <li><a href="portfolio-2-column-masonry-no-gutter.html">2 Grid Gutter less</a></li>
                                                <li><a href="portfolio-2-column-masonry-no-gutter-full.html">2 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                                <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                                <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="#">Boxed Gutter</a>
                                            <ul>
                                                <li><a href="portfolio-2-column-boxed-gutter.html">2 Grid Gutter</a></li>
                                                <li><a href="portfolio-2-column-boxed-gutter-full.html">2 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-3-column-boxed-gutter.html">3 Grid Gutter</a></li>
                                                <li><a href="portfolio-3-column-boxed-gutter-full.html">3 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-4-column-boxed-gutter.html">4 Grid Gutter</a></li>
                                                <li><a href="portfolio-4-column-boxed-gutter-full.html">4 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-6-column-boxed-gutter.html">6 Grid Gutter</a></li>
                                                <li><a href="portfolio-6-column-boxed-gutter-full.html">6 Grid Gutter Full</a></li>
                                            </ul>                    
                                        </li>
                                        <li><a href="#">Boxed No Gutter</a>
                                            <ul>
                                                <li><a href="portfolio-2-column-boxed-no-gutter.html">2 Grid Gutter less</a></li>
                                                <li><a href="portfolio-2-column-boxed-no-gutter-full.html">2 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-3-column-boxed-no-gutter.html">3 Grid Gutter less</a></li>
                                                <li><a href="portfolio-3-column-boxed-no-gutter-full.html">3 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-4-column-boxed-no-gutter.html">4 Grid Gutter less</a></li>
                                                <li><a href="portfolio-4-column-boxed-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-6-column-boxed-no-gutter.html">6 Grid Gutter less</a></li>
                                                <li><a href="portfolio-6-column-boxed-no-gutter-full.html">6 Grid Gutter Less Full </a></li>
                                            </ul>                    
                                        </li>
                                        <li><a href="#">Card Gutter</a>
                                            <ul>
                                                <li><a href="portfolio-2-column-card-gutter.html">2 Grid Gutter</a></li>
                                                <li><a href="portfolio-2-column-card-gutter-full.html">2 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-3-column-card-gutter.html">3 Grid Gutter</a></li>
                                                <li><a href="portfolio-3-column-card-gutter-full.html">3 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-4-column-card-gutter.html">4 Grid Gutter</a></li>
                                                <li><a href="portfolio-4-column-card-gutter-full.html">4 Grid Gutter Full</a></li>
                                                <li><a href="portfolio-6-column-card-gutter.html">6 Grid Gutter</a></li>
                                                <li><a href="portfolio-6-column-card-gutter-full.html">6 Grid Gutter Full</a></li>
                                            </ul>                   
                                        </li>
                                        <li><a href="#">Card No Gutter</a>
                                            <ul>
                                                <li><a href="portfolio-2-column-card-no-gutter.html">2 Grid Gutter less</a></li>
                                                <li><a href="portfolio-2-column-card-no-gutter-full.html">2 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-3-column-card-no-gutter.html">3 Grid Gutter less</a></li>
                                                <li><a href="portfolio-3-column-card-no-gutter-full.html">3 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-4-column-card-no-gutter.html">4 Grid Gutter less</a></li>
                                                <li><a href="portfolio-4-column-card-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                <li><a href="portfolio-6-column-card-no-gutter.html">6 Grid Gutter less</a></li>
                                                <li><a href="portfolio-6-column-card-no-gutter-full.html">6 Grid Gutter Less Full </a></li>
                                            </ul>                    
                                        </li>
                                        <li><a href="#">Mosaic</a>
                                            <ul>
                                                <li><a href="mosaic-grid.html">Mosaic Grid</a></li>
                                                <li><a href="mosaic-nospace.html">Mosaic no space</a></li>
                                            </ul>             
                                        </li> 
                                        <li><a href="#">Portfolio Details</a>
                                            <ul>
                                                <li><a href="single-details-one.html">Portfolio Details slider</a></li>
                                                <li><a href="single-details-two.html">Portfolio Details tab</a></li>
                                                <li><a href="single-details-three.html">Portfolio Details youtube</a></li>
                                                <li><a href="single-details-four.html">Portfolio Details image</a></li>
                                                <li><a href="single-details-five.html">Portfolio Details audio</a></li>
                                                <li><a href="single-details-six.html">Portfolio Details vemio</a></li>
                                            </ul>             
                                        </li> 
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="about-me.html">About Me</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="contact.html">Contact with map</a></li>
                                        <li><a href="contact-2.html">Contact without map</a></li>
                                        <li><a href="404.html">404 Not Found</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Structures</a>
                                    <ul>
                                        <li><a href="#">Header</a>
                                            <ul>
                                                <li><a href="header-one.html">Header 1</a></li>
                                                <li><a href="header-two.html">Header 2</a></li>
                                                <li><a href="header-three.html">Header 3</a></li>
                                                <li><a href="header-four.html">Header 4</a></li>
                                                <li><a href="header-five.html">Header 5</a></li>
                                                <li><a href="header-six.html">Header 6</a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="#">Footer</a>
                                            <ul>
                                                <li><a href="footer-one.html">Footer 1</a></li>
                                                <li><a href="footer-two.html">Footer 2</a></li>
                                                <li><a href="footer-three.html">Footer 3</a></li>
                                                <li><a href="footer-four.html">Footer 4</a></li>
                                                <li><a href="footer-five.html">Footer 5</a></li>
                                                <li><a href="footer-six.html">Footer 6</a></li>
                                            </ul>             
                                        </li>  
                                        <li><a href="#">Page Title</a>
                                            <ul>
                                                <li><a href="title-1.html">Default Title</a></li>
                                                <li><a href="title-2.html">Title Style 2</a></li>
                                                <li><a href="title-3.html">Background Image</a></li>
                                                <li><a href="title-4.html">Dark Background</a></li>
                                                <li><a href="title-5.html">No Background</a></li>
                                                <li><a href="title-6.html">Pattern Background</a></li>
                                            </ul>             
                                        </li> 
                                        <li><a href="#">Service box</a>
                                            <ul>
                                                <li><a href="service-box.html">service box 1</a></li>
                                                <li><a href="service-box2.html">service box 2</a></li>
                                                <li><a href="service-box3.html">service box 3</a></li>
                                                <li><a href="service-box4.html">service box 4</a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="tab.html">Tab style</a></li>
                                        <li><a href="skill.html">Skill style</a></li>
                                        <li><a href="team.html">Team style</a></li>
                                    </ul>
                                </li>                                            
                                <li><a href="#">Blog</a>
                                    <ul class="dropdown-show-right">
                                        <li><a href="blog.html">Blog Default</a></li>
                                        <li><a href="#">Grid</a>
                                            <ul>
                                                <li><a href="blog-2-column-full-wide.html">Blog 2 Column full wide</a></li>
                                                <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                                                <li><a href="blog-3-column-full-wide.html">Blog 3 Column full wide</a></li>
                                                <li><a href="blog-4-column.html">Blog 4 Column</a></li>
                                                <li><a href="blog-4-column-full-wide.html">Blog 4 Column full wide</a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="#">Masonry</a>
                                            <ul>
                                                <li><a href="blog-massonry2-column.html">Blog 2 Column</a></li>
                                                <li><a href="blog-massonry2-column-full-wide.html">Blog 2 Column full wide</a></li>
                                                <li><a href="blog-massonry3-column.html">Blog 3 Column</a></li>
                                                <li><a href="blog-massonry3-column-full-wide.html">Blog 3 Column full wide</a></li>
                                                <li><a href="blog-massonry4-column.html">Blog 4 Column</a></li>
                                                <li><a href="blog-massonry4-column-full-wide.html">Blog 4 Column full wide</a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="#">Classic</a>
                                            <ul>
                                                <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                                                <li><a href="blog-single-right-sidebar.html">Single Right Sidebar</a></li>
                                                <li><a href="blog-single-full-width-sidebar.html">Single Full Width</a></li>
                                                <li><a href="blog-left-sidebar.html">2 Column Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">2 Column Right Sidebar</a></li>
                                                <li><a href="blog-full-width-sidebar.html">2 Column Full width</a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="#">Single Post</a>
                                            <ul>
                                                <li><a href="single-post-left-sidebar.html">Sidebar Left</a></li>
                                                <li><a href="single-post-right-sidebar.html">Sidebar Right</a></li>
                                                <li><a href="single-post-full-width.html">Without Sidebar</a></li>
                                            </ul>             
                                        </li>
                                        <li><a href="#">Thumbnail</a>
                                            <ul>
                                                <li><a href="blog-thumbnail-left-sidebar.html">Thumbnail Left Sidebar</a></li>
                                                <li><a href="blog-thumbnail-right-sidebar.html">Thumbnail Right Sidebar</a></li>
                                                <li><a href="thumbnail-without-sidebar.html">Without Sidebar</a></li>
                                                <li><a href="thumbnail-full-width.html">Thumbnail Full Width</a></li>
                                            </ul>             
                                        </li>
                                    </ul>                                            
                                </li>
                                <li><a href="about.html">about</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div> -->
                    <!-- END OF MOBILE MENU AREA -->
                </div>
            </div>
        </div>                
    </header>
