            <div class="content">
                <!-- Breadcrumb area start -->
                <!-- <div class="breadcrumb-style-two gray-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="breadcrumb-content">
                                    <h2 class="page-cat">2 column massonry no gutter</h2>
                                    <ul class="breadcrumb-list">
                                        <li><a href="index.html">Home</a></li>
                                        <li>2 column massonry no gutter</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                 -->
                <!-- Breadcrumb area end -->            
                <!-- shopno portfolio start -->
                <div class="shopno-standard-row">
                    <!-- Portfolio content -->
                    <div class="portfolio-fullwidth">
                        <div class="portfolio-content">
                            <div class="portfolio-filter-wrap text-center" >
                                <ul class="portfolio-filter hover-style-one">
                                    <li class="active"><a href="#" data-filter="*"> All</a></li>
                                    <li><a href="#" data-filter=".cat1">Electric Shock Therapy</a></li>
                                    <li><a href="#" data-filter=".cat2">Portraits</a></li>
                                    <li><a href="#" data-filter=".cat3">Early Works</a></li>
                                    <!-- <li><a href="#" data-filter=".cat4">Photography</a></li>
                                    <li><a href="#" data-filter=".cat5">Development</a></li> -->
                                </ul>
                            </div>
                            <div class="portfolio portfolio-no-gutter portfolio-container portfolio-masonry portfolio-column-count-2">
                                <div class="portfolio-item cat1 cat3 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a routerLink="/portfolio/painting"><i class="fa fa-link"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column-gutter/1.jpg" alt="">
                                        </div>                                   
                                    </div>
                                </div>
                                <div class="portfolio-item cat4 cat2 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a routerLink="/portfolio/painting" class="portfolio-gallery-set"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/2.jpg" alt="">
                                        </div>                                     
                                    </div>
                                </div>
                                <div class="portfolio-item cat3 cat4 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="img/portfolio/3-column/3.jpg" class="portfolio-gallery-set"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/3.jpg" alt="">
                                        </div>                                  
                                    </div>
                                </div>
                                <div class="portfolio-item cat5 cat2 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="single-details-one.html"><i class="fa fa-link"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/4.jpg" alt="">
                                        </div>                                   
                                    </div>
                                </div>
                                <div class="portfolio-item cat5 cat2 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="img/portfolio/3-column-gutter/11.jpg" class="portfolio-gallery-set"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column-gutter/11.jpg" alt="">
                                        </div>                                   
                                    </div>
                                </div>
                                <div class="portfolio-item cat1 cat3 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="img/portfolio/3-column/6.jpg" class="portfolio-gallery-set"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/6.jpg" alt="">
                                        </div>                                
                                    </div>
                                </div>
                                <div class="portfolio-item cat1 cat3 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="img/portfolio/3-column/7.jpg" class="portfolio-gallery-set"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/7.jpg" alt="">
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="portfolio-item cat1 cat3 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="single-details-one.html"><i class="fa fa-link"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/9.jpg" alt="">
                                        </div>                                   
                                    </div>
                                </div>
                                <div class="portfolio-item cat1 cat3 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="img/portfolio/3-column/10.jpg" class="portfolio-gallery-set"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/10.jpg" alt="">
                                        </div>                                      
                                    </div>
                                </div>
                                <div class="portfolio-item cat1 cat3 ">
                                    <div class="portfolio-item-content">
                                        <div class="hover-3">
                                            <div class="overlay3">
                                                <a href="img/portfolio/3-column/10.jpg" class="portfolio-gallery-set"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <img src="../../../assets/img/portfolio/3-column/10.jpg" alt="">
                                        </div>                                      
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-area">
                                <div class="load-more text-center">
                                    <a class="button-hover" href="#">View More <i class="fa fa-long-arrow-right"></i></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio content end -->                                      
                </div>
                <!-- shopno Portfolio End -->
            </div>