<!-- Main content start -->
<div class="content">
        <!-- Breadcrumb area start -->
        <!-- <div class="breadcrumb-area shopno-standard-row gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumb-content text-left">
                            <h2 class="page-cat">Portfolio Single Details 2</h2>
                            <ul class="breadcrumb-list">
                                <li><a href="index.html">Home</a></li>
                                <li>Portfolio Single Details 2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Breadcrumb area end -->
        <!-- Single Project area -->
        <div class="single-project-area shopno-standard-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="single-port-img">
                            <a href="" class="portfolio-gallery-set" ><img src="{{painting.img_url}}" alt=""></a>
                            <!-- <a href="img/portfolio/single/2.jpg" class="portfolio-gallery-set" ><img src="img/portfolio/single/2.jpg" alt=""></a>
                            <a href="img/portfolio/single/3.jpg" class="portfolio-gallery-set" ><img src="img/portfolio/single/3.jpg" alt=""></a> -->
                        </div>                              
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="project-meta-wrapper">
                            <div class="single-project-description">
                                <h3 class="owner-text">Project description</h3>
                                <p>{{painting.description}}</p>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</p><br>
                                <p>Illum molestias cupiditate eveniet dolore obcaecati voluptatibus est quos eos id recusandae officia. Cupiditate, voluptates quibusdam ipsum vel corporis laboriosam id est doloremque Illum molestias cupiditate eveniet dolore Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</p> -->
                            </div>
                            <div class="portfolio-owner-info">
                                <h3 class="owner-text">Project information</h3>
                                <ul>
                                    <li><i class="fa fa-calendar"></i><span>Publish Date :</span>17 Feb 2015</li>
                                    <li><i class="fa fa-html5"></i><span>Series :</span><b>{{painting.series}}</b></li>
                                    <li><i class="fa fa-link"></i><span>Style : </span><a href="{{painting.style}}">Take a closer look!</a></li>
                                </ul>
                            </div>
                            <div class="social-bookmark-wrapper">
                                <ul class="social-portfolio">
                                    <span>Share: </span>
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-dribbble"></i></a></li>
                                    <li><a href="#"><i class="ti-google"></i></a></li>
                                </ul>
                            </div>                               
                        </div>                             
                    </div>        
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-navigation-wrapper">

                            <a href="" class="post-navigation"><i class="fa fa-angle-left"></i> Previous Project</a>
                            <a href="index.html" class="post-navigation">All Projects</a>
                            <a href="" class="post-navigation">Next Project <i class="fa fa-angle-right"></i></a>
                        </div>                                
                    </div>
                </div>
            </div>                  
        </div>                
        <!-- Single Project area end -->
        <!-- Related Project list start  -->
        <!-- <div class="gray-bg shopno-standard-row related-project-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="area-sub-heading">
                            <h3 class="owner-text">Similar Projects</h3>
                        </div>
                    </div>
                </div>
                <div class="row slider-owl">
                    <div class="slider-blog">
                        <div class="col-md-12 col-sm-12">
                            <div class="hover-3">
                                <div class="overlay3">
                                    <a href=""><i class="fa fa-link"></i></a>
                                </div>
                                <img src="img/portfolio/equal/1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="hover-3">
                                <div class="overlay3">
                                    <a href=""><i class="fa fa-link"></i></a>
                                </div>
                                <img src="img/portfolio/equal/2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="hover-3">
                                <div class="overlay3">
                                    <a href=""><i class="fa fa-link"></i></a>
                                </div>
                                <img src="img/portfolio/equal/3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="hover-3">
                                <div class="overlay3">
                                    <a href=""><i class="fa fa-link"></i></a>
                                </div>
                                <img src="img/portfolio/equal/4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Related Project list end  -->
    </div>
    